body {
  font-family: sans-serif;
  background-color: #A8F800;
}

header{
  background-image: linear-gradient(#FF05D0, #A8F800);
  height: 400px;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}

nav a {
  color: black;
  text-decoration: none;
  margin-top: 67px;
}

h1 {
  text-align: center;
  padding: 46px;
  font-size: 25px;
}

h2 {
  font-size: 27px;
}

.nomertelefonu {
  position: fixed;
  top: 85%;
  left: 70%;
  width: ;
  text-align: center;
  font-family: 'comic sans ms';
}

header img {
  width: 80px;
  height: 80px;
  position: absolute;
}

.kvadrober {
  display: flex;
  justify-content: center;
}

.h111 {
  font-size: 64px;
  font-weight: 900;
  text-transform: lowercase;

  background-image: url("https://img2.zakaz.ua/upload.version_1.0.07667a45dceee43b0067c6de7fcb478e.1350x1350.jpeg");

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;

  -webkit-text-stroke: 2px black;

  background-position: center;
  background-size: cover;

}

.katalog {
  text-align: center;
}

.reviews {
  max-width: 600px;
  margin: auto;
}

.review {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  text-align: left;
}

.review img {
  width: 100px;
  height: 100px;
  border-radius: 70%;
}

.ok img {
  width: 120px;
  border-radius: 10px;
  height: 120px;
}

.sweets {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.catalog {
  text-align: center;
}

.text {
  font-family: 'comic sans ms';
  font-style: normal;
  color: #0345A7;
}

.adressa {
  text-align: center;
}

.adressa1 {
  font-family: 'Rubik Moonrocks';
  font-style: normal;
  color: #0345A7;
}

.meregi img {
  width: 40px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.meregi {
  display: flex;
  justify-content: right;
}

footer{
  margin-top: 50px;
  background-image: linear-gradient(#A8F800, #FF05D0);
}

iframe{
  height: 360px;
  width: 360px;
}

o p{
  color: black;
  border: 10px black;
}

.ok{
  text-align: center;

}
